* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  background: linear-gradient(#1F2937 85%, #3882F6 ); ;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #1F2937; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: white 5px solid;
}

.branding {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.branding h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  width: 2rem;
  height: auto;
}

/* NAV */
.mobile-menu {
  display: none;
}

.top-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.mobile-menu {
  display: none;
}

.top-nav a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-size: 1rem;
}

.top-nav a:hover {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
  justify-content: center;
  align-items: center;     
  height: 100%;
}

section {
    /* padding: 15px; */

    color: black;
}



.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }

.image-item {
  max-height: 20rem;
  border: #3882F6 5px solid;
  border-radius: 1rem;

} 


.story {  
    background-color: rgba(0,0,0,0.6);
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0 15px;
    padding: 25px 20px;
    border-radius: 1rem;

}


/* FOOTER */
footer {
  background-color: #1F2937;
  text-align: center;
  padding: 1rem;
  color: white;
}

footer small {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  opacity: 0.9;
}

/* When the browser is at least 600px and above */
@media screen and (max-width: 800px) {
  ul.nav-list{
    /* Apply some styles */
    /* visibility: hidden; */
    display: none;
  }

  .story {
    /* font-size: 10px; */
  }

  .branding h1{
    font-size: 1.5rem;
  }

  .mobile-menu {
    display: flex;
    height: 2rem;
    width: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
  }

  .welcome p {
    text-align: center;
    max-width: 90%;
    font-size: 1.25rem;
    margin: 0 auto;
  }

  .branding {
    flex-direction: row-reverse;
  }
}